# This is a basic workflow to help you get started with Actions

name: Add comment

on:
  pull_request_target:
    types:
      - opened
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Hi @${{ github.event.sender.login }}!
            Thank you for submitting your project.
            Please make sure you fill out https://avalancheavax.typeform.com/avaxprojects so we have your contact information.
